[Unit]
Description=Poll service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/poll
EnvironmentFile=/opt/poll/poll.env
ExecStart=/usr/bin/python3 /opt/poll/app.py

[Install]
WantedBy=multi-user.target
